[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "enrichR"]
	path = enrichR
	url = https://github.com/wjawaid/enrichr
[submodule "gatepoints"]
	path = gatepoints
	url = https://github.com/wjawaid/gatepoints
